{% extends 'base.html.twig' %}

{% block title %}My cool blog posts{% endblock %}

{% block body %}
    <div class="container">
            <div class="row">
                {{ form_start(form) }}
                <div style="clear:both; padding-top:25px;"> 
                {{ form_row(form.firstName) }}
                </div>
                <div style="clear:both; padding-top:25px;"> 
                {{ form_row(form.lastName) }}
                </div>
                <div style="clear:both; padding-top:25px;"> 
                {{ form_label(form.email) }}
                     <ul id="email-fields-list"
                        data-prototype="{{ form_widget(form.email.vars.prototype)|e }}"
                        data-widget-tags="{{ '<li></li>'|e }}">
                    {% for emailField in form.email %}
                        <li>
                           
                            {{ form_widget(emailField) }}
                        </li>
                    {% endfor %}
                    </ul>
                    <button type="button"
                        class="add-another-collection-widget"
                        data-list="#email-fields-list">Add Email Id</button>
                </div>                        
                <div style="clear:both; padding-top:25px;">        
                {{ form_label(form.mobile) }}
                     <ul id="mobile-fields-list"
                        data-prototype="{{ form_widget(form.mobile.vars.prototype)|e }}"
                        data-widget-tags="{{ '<li></li>'|e }}">
                    {% for mobileField in form.mobile %}
                        <li>
                            {{ form_widget(mobileField) }}
                        </li>
                    {% endfor %}
                    </ul>
                    <button type="button"
                        class="add-another-collection-widget"
                        data-list="#mobile-fields-list">Add Mobile</button>
               </div>
               <div style="clear:both; padding-top:25px;"> 
                    {{ form_label(form.education) }}
                     <ul id="education-fields-list"
                        data-prototype="{{ form_widget(form.education.vars.prototype)|e }}"
                        data-widget-tags="{{ '<li></li>'|e }}">
                    {% for educationField in form.education %}
                        <li>
                            {{ form_widget(educationField) }}
                        </li>
                    {% endfor %}
                    </ul>
                    <button type="button"
                        class="add-another-collection-widget"
                        data-list="#education-fields-list">Add Education</button>
               </div>

               <div style="clear:both; padding-top:25px;"> 
                    {{ form_row(form.dateofBirth) }}
               </div>

               <div style="clear:both; padding-top:25px;">  
                    {{ form_row(form.bloodGroup) }}
               </div>

               <div style="clear:both; padding-top:25px;"> 
                    {{ form_row(form.gender) }}
               </div>

              <div style="clear:both; padding-top:25px;"> 
                    <button type="submit">Save User</button>
              </div>

             
            </div>
        </div>
        <div style="display:none;">
          {{ form_end(form) }}
          </div>
            <div style="margin-bottom:100px;"></div>
    {% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ asset('build/js/add-collection-widget.js') }}"></script>
    {% endblock %}

{% endblock %}