{% extends 'base.html.twig' %}

{% block title %}My cool blog posts{% endblock %}

{% block body %}
<h1>Add new users</h1>
<table class="table table-striped table-middle-aligned">
        <thead>
        </thead>
        <tbody>
      {{ form_start(form) }}
            <tr>
                <td>{{ form_label(form.firstName) }}</td>
                <td>{{ form_widget(form.firstName) }}</td>
                
            </tr>
			<tr>
                <td>{{ form_label(form.lastName) }}</td>
                <td>{{ form_widget(form.lastName) }}</td>
                
            </tr>
			<tr>
                <td>{{ form_label(form.email) }}</td>
                <td> 
               <ul class="tags" data-prototype="&lt;div&gt;&lt;div id=&quot;task_tags___name__&quot;&gt;&lt;div&gt;&lt;input type=&quot;email&quot; id=&quot;form_email___name__&quot; name=&quot;email[__name__]&quot; required=&quot;required&quot; maxlength=&quot;255&quot; /&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;">

                    {% for emailField in form.email %}
                     <li>
                        {{ form_errors(emailField) }}
                        {{ form_widget(emailField) }}
                    </li>
                    {% endfor %}
                </ul>
               
                </td>
                
            </tr>
			<tr>
                <td>{{ form_label(form.mobile) }} </td>
                <td> {{form_widget(form.mobile)}}
                </td>
                
            </tr>
			<tr>
                <td> {{ form_label(form.dateofBirth) }} </td>
                <td>{{ form_widget(form.dateofBirth) }}</td>
                
            </tr>
			<tr>
                <td> {{ form_label(form.education) }} </td>
                <td> {{ form_widget(form.education )}}
               </td>
                
            </tr>
			<tr>
                <td> {{ form_label(form.bloodGroup) }} </td>
                <td>{{   form_widget(form.bloodGroup) }}</td>
                
            </tr>
			<tr>
                <td> {{ form_label(form.gender) }} </td>
                <td>{{ form_widget(form.gender) }}</td>
                
            </tr>
			<tr>
                <td>  </td>
                <td>{{ form_widget(form.save) }}</td>
                
            </tr>
            {{ form_end(form) }}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="{{ asset('build/js/add-collection-widget.js') }} "></script>
        </tbody>
    </table>
{% endblock %}